@import "../less/vars.less";

div.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

button.tab-title-container {
  position: sticky;
  top: 0px;
  width: 100%;
  text-align: center;
  font-size: @big;
  background-color: @white;
  color: @medium-grey;
  border-color: @light-grey;
  border-width: @thin;
  border-style: dotted;
  padding-top: @el-spacing;
  padding-bottom: @el-spacing;
}

div.tab-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  padding-top: @el-spacing
}

.element {
  margin-bottom: @el-spacing;
  margin-left: @el-spacing;
}
