<div class="page-container">
  <h1 class="title">Weather-man6</h1>
  <div class="form">
    <div class="form-error">
      {{ error }}
    </div>
    <div class="form-input">
      Ville: <input type="text" #city><br>
    </div>
    <div class="form-input">
      Pays: <input type="text" #countryCode><br>
    </div>
    <div class="form-input">
      <input type="button" (click)="putParis()" value="Mettre Paris">
      <input type="button" (click)="onSubmit(city.value, countryCode.value)" value="Valider">
    </div>
    <div class="lastUpdated">
      Dernière requête faite le : <span>{{ lastUpdated | date:'fullDate':'+0200':'fr' }}</span>
    </div>
  </div>
  <div class="result">
    <div *ngFor="let t of tabs">
      <app-tab [data]="t"></app-tab>
    </div>
  </div>
</div>
